<h1 style="text-align:center;">Productos</h1>
{{#each products}}
    <div id="prod_{{id}}" style="background-color:lightblue; text-align:center">
        <h2>{{title}}  {{id}}</h2>
        <p>Description: {{description}}</p>
        <p>Codigo: {{code}}</p>
        <p>Precio: {{price}}</p>
        <p>Status: {{status}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>
    </div>
{{/each}}