{{#if length}}
    <h1 style="text-align:center;">Productos</h1>
    {{#each productos}}
        <div id="{{_id}}" style="background-color:lightblue; text-align:center" >
            <a href="products/{{_id}}" style="text-decoration:none; color:black">
                <h3>{{title}}  </h3>
                <p><b>ID:</b> {{_id}}</p>
            </a>
            <button type="button" onclick="submitProduct(document.getElementById('{{_id}}').id)">Agregar al carrito</button>
        </div>
    {{/each}}
    <p align="justify">
        {{#if pageInfo.prevPage}}
        <span >Página anterior: {{pageInfo.prevPage}}</span>
        {{/if}}
        <span >Página actual: {{pageInfo.page}}</span>
        {{#if pageInfo.nextPage}}
        <span >Página siguiente:{{pageInfo.nextPage}}</span>
        {{/if}}
    </p>
{{else}}
    <h1 style="text-align:center;">No hay productos</h1>
{{/if}}

<script>
    function submitProduct(id){
        const ids = [];
        ids.push(id);
        fetch('http://localhost:8080/api/carts/6425b9604ef1c4fb279426f3', {
            method: "PUT",
            headers:{
                "Content-Type": "application/json"
            },
            body: JSON.stringify(ids)
        })
        .then(()=>{
            alert("Agregado correctamente en carrito 6425b9604ef1c4fb279426f3")
        });/**/
    }
</script>